
@model JsonDemo.Models.Course

@{
    ViewBag.Title = "Details";
}


<h5>@Model.Code</h5>
@Model.Title
<br />

<hr />

<div>
    <h4>Étudiants inscrits</h4>
    @foreach (var student in Model.Students)
    {
        <div class="StudentListLayout ellipsis">
            <a href="@Url.Action("Details", "Students", new {id = student.Id})">
                <div>
                    <span class="studentCode">@student.Code</span>
                    @student.LastName @student.FirstName
                </div>
            </a>
        </div>
    }
</div>
