
@model JsonDemo.Models.Student

@{
    ViewBag.Title = "Details";
}

<h4>Cohorte @Model.Year</h4>
<h5>@Model.Code</h5>
<h3>
    <b> @Model.FirstName @Model.LastName</b>
</h3>
<hr />

<div>
    <h4>Inscriptions</h4>
    @foreach (var course in Model.Courses)
    {
        <div class="CourseListLayout ellipsis">
            <a href="@Url.Action("Details", "Courses", new {id = course.Id})">
                <span style="color:blue">@course.Code</span>
                @course.Title
            </a>
        </div>
    }
</div>
