
@model JsonDemo.Models.Student

@{
    ViewBag.Title = "Details";
    var yearsList = ((List<int>)Session["StudentsYearsList"]).OrderByDescending(i => i);
}

<h4>Cohorte @Model.Year</h4>
<h5>@Model.Code</h5>
<h3>
    <b> @Model.FirstName @Model.LastName</b>
</h3>
<hr />

<div>
    <h4>Inscriptions</h4>
    @foreach (int year in yearsList)
    {
        var registrations = Model.Registrations.Where(r => r.Year == year).OrderBy(r => r.Course.Code);
        if (registrations.Count() > 0)
        {
            <details open>
                <summary>@year</summary>
                @foreach (var registration in registrations)
                {
                    <div class="CourseListLayout ellipsis">
                        <a href="@Url.Action("Details", "Courses", new { id = registration.Course.Id })">
                            <span class="courseCode">@registration.Course.Code</span>
                            @registration.Course.Title
                        </a>
                    </div>
                }
            </details>
        }
    }


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
