
@model JsonDemo.Models.Student

@{
    bool creating = Model.Id == 0;
    string submitCaption = creating ? "Ajouter" : "Modifier";
    int currentYear = DateTime.Now.Year;
    string session = "Inscription à la session " + (JsonDemo.Models.NextSession.ValidSession.Contains(1) ? " d'automne " : " d'hiver ") + JsonDemo.Models.NextSession.Year;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(model => model.FirstName)

        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(model => model.LastName)

        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>
    if (!creating)
    {

        <div>
            @Html.Label(session)
            @Helper.SelectionLists("selectedCoursesId", (SelectList)ViewBag.Registrations, (SelectList)ViewBag.Courses)
        </div>
    }

    <hr />
    <input type="submit" value="@submitCaption" class="btn btn-primary" />

}